.car-list {
    list-style-type: none;
    padding: 0.5rem;
    margin-left: 1rem;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 18rem;
    width: 15rem;
}

.car-list > li{
    margin:  0 0 1rem 0;
    padding: 0.5rem 2rem;
    border-bottom: 1px solid #afafaf;
    border-radius: 10px;
    background: #414141;
    animation: car-list-appear 0.3s ease-in-out;
}

.car-list > li > div > p {
    margin: 0;
    padding: 0;
}

.car-list > li > button {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    color: #ff0000;
    cursor: pointer;
}

.car-list > li > button:hover {
    color: #ff3333;
}

.delete{
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}

@keyframes car-list-appear {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}
